<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index html</title>
</head>
<body>

<a th:href="@{/testServletAPI}" >testServletAPI</a>

<br>
<a th:href="@{/testModelAndView}" >testModelAndView</a>
<br>

<a th:href="@{/testModel}" >testModel</a>
<br>
<a th:href="@{/testMap}" >testMap</a>


<br>
<a th:href="@{/testSession}" >testSession</a>

<br>
<a th:href="@{/testApplication}" >testApplication</a>

<br>
<br>
<a th:href="@{/testForward}" >testForward</a>


<br>
<a th:href="@{/redirect}" >redirect</a>
</body>
</html>